.card {
    margin: 20px;
    border-top: 2px solid rgba(0, 162, 255, 0.486) ;
    border-bottom: 2px solid rgba(0, 162, 255, 0.486) ;
}

.card-image {
    margin-top: 10px;
}
.card .card-button  {
    margin: auto;
    margin-bottom: 10px;
}
.main-container {
    background-color: rgba(221, 221, 221, 0.24);
    border-radius: 10px;
}
.card-footer  {
    margin-bottom: 10px !important;
}